nav{
  background-color: red;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  height: 60px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

}

nav ul{
  display: flex;
  align-items: center;
  gap: 25px;

}
nav .logo{
   font-size: 24px;
   font-weight: bold;
   color: #7afc02;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 8px;

}

nav li{
  list-style: none;
 
}


nav li a{
  text-decoration: none;
   color: #fff;
   font-size: 20px;
   font-weight: 900;

}