*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color:#f00606;
  font-family: "Roboto", "sans-serif";

}
 
.Left-sidebar .logo-name{
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1px;
   
}
.Left-sidebar .logo-name a{ 
 font-size: 28px;
 color: rgb(157, 255, 0);
 text-decoration: none;
 margin-left: 10px;

}

.Left-sidebar{
  width: 270px;
  height:100vh;
  border-right: 1px solid #3d3c3c;
  position:fixed;
  background: #292424;
  top: 0;
  left: 0;
  z-index: 900;
}

.Left-sidebar ul{
  padding-left: 20px;
  
}

.Left-sidebar li{
  padding: 15px 50px;
  list-style: none;
  

}

.Left-sidebar a{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  text-decoration:none ;
  color:#fff;
  transition: 0.4s ;
}

.Left-sidebar i{
  font-size: 30px;

}

.Left-sidebar li:hover:not(logo-name){
  background-color: rgb(8, 136, 8);
  border-radius: 30px;
 justify-content: center;
  width: 80%;
  cursor: pointer;
}
.ads{
  margin: 50px ;
}

nav{
  position: fixed;
  top: 0;
  left: 270px;
  height: 60px; 
  width: 100%;
  padding-left: 220px;
  display: flex;
  align-items: center;
  background: #f00606;
  justify-content: center;
  z-index: 1000;

}
.profile{
  margin-left: 400px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 20px;

}

nav li{
  list-style: none;
  
}

nav li a{
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.Right-sidebar{
  background-color: #fff;
  height: 100vh;
  width: 20%;
  margin-right:0px ;
  position: fixed;
  top: 0;
  right: 0;

}